// fonts
html, body {
  font-family: 'Lato', sans-serif;
  color: $default-gray;
  font-size: 18px;
}
strong {
  font-weight: 700;
}
sup {
  font-size: 0.6rem;
}
.quote-text {
  @include lg-text;
  font-family: 'PT Serif', serif;
  font-style: italic;
  span {
    display: block;
  }
  p {
    font-weight: 400;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.quote-text2 {
  @include lg-text;
  font-family: 'PT Serif', serif;
  font-style: italic;
  span {
    display: block;
  }
  p {
    font-weight: 400;
  }
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.txt-highlight {
  font-weight: 700;
  color: $green;
  @include hero-text;
}
// links and buttons
a {
  @include effect-all;
  opacity: 1;
  &:hover, &:active, &:focus {
    @include effect-all;
    opacity: 0.8;
    text-decoration: none;
  }
}
button {
  @include effect-all;
  &:hover, &:active, &:focus {
    @include effect-all;
  }
}
// layout
button:focus {
  outline-color: transparent;
}
body {
  @include effect-opacity;
}
.fade-out {
  opacity: 0;
  @include effect-opacity;
}
.a-section {
  padding: 70px 0;
}
.section-tan {
  background-color: $tan;
}
.section-gray {
  background-color: #eaeaea;
  p {
    font-weight: 600;
  }
}
.home {
  .quote-text {
    @include lg-text;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    span {
      display: block;
    }
    p {
      font-weight: 400;
    }
  }
}
.updates {
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    background-color: #fff;
  }
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    &:before, &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      width: 2px;
      height: 40px;
      background-color: $default-gray;
    }
    &:before {
      left: -20px;
    }
    &:after {
      right: -20px;
    }
  }
}
.green-row {
  background-color: $green;
  color: #fff;
  p {
    font-weight: 700;
    @include hero-text;
  }
}
.modelo {
  .slick-dots {
    display: none;
  }
  .section-gray {
    border-top: 15px solid $green;
  }
  .quote-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    .txt-highlight {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      color: $default-gray;
    }
  }
  .closing-quote {
    @include lg-text;
    color: $light-gray;
    p {
      position: relative;
      &:after {
        position: absolute;
        left: 50%;
        bottom: -90px;
        margin-left: -47px;
        display: inline-block;
        content: "";
        width: 94px;
        height: 65px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(../daoTheme/images/close-quote.png);
      }
      &:before {
        position: absolute;
        left: 50%;
        top: -90px;
        margin-left: -47px;
        display: inline-block;
        content: "";
        width: 94px;
        height: 65px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(../daoTheme/images/open-quote.png);
      }
    }
    .quote-image-close {
      margin-top: 45px;
    }
  }
  .negative-margin {

    @include media-breakpoint-down(lg) {
      padding-top: 150px;
      padding-bottom: 70px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.quote-with-image {
  padding: 40px 0;
  h1, h2, h3, h4, h5 {
    @include hero-text;
    font-weight: 700;
  }
  p {
    @include hero-text;
    margin-bottom: 0;
  }
  &.green {
    background-color: $green;
    color: #fff;
  }
  &.white {
    color: $green;
  }
}
.productos {
  .slick-dots {
    display: none;
  }
  .three-col {
    p {
      margin-bottom: 0;
    }
    .specs-products {
      color: $black;
    }
  }
  .quote {
    p {
      @include lg-text;
    }
  }
}
.como {
  .green-row {
    background: rgb(44,120,98);
    background: linear-gradient(180deg, rgba(44,120,98,1) 45%, rgba(28,71,59,1) 100%);
  }
  .process {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 100px 0;
    .step-button {
      opacity: 1;
      position: relative;
      background-image: url('../daoTheme/images/bg-step.png');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 227px;
      height: 288px;
      border: 0;
      background-color: transparent;
      @include effect_all;
      &:hover, &:active, &:focus {
        opacity: 0.7;
        @include effect_all;
      }
      &.last {
        background-image: url('../daoTheme/images/bg-step-last.png');
      }
    }
    .step-number {
      @include hero-text;
      font-weight: 700;
      color: $orange;
      margin-bottom: 10px;
      display: block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      position: absolute;
      top: 18px;
      left: 50%;
      margin-left: -25.5px;
    }
    .step-title {
      font-size: 1.2rem;
      margin-top: -20px;
      display: block;
      padding: 0 15px;
    }
    .modal-header {
      border-top: 10px solid $light-green;
      border-radius: 2px 2px 0 0;
    }
    .modal-title {
      color: $green;
    }
    .daoIcon {
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 24px;
      height: 31px;
      background-size: 100%;
      background: url(../daoTheme/images/daoIcon.png);
      background-repeat: no-repeat;
    }
    .modal-body {
      position: relative;
      padding-bottom: 70px;
    }
  }
  .dao-absolute {
    margin-bottom: -220px;
    position: relative;
    z-index: 1;
  }
  .a-quote {
    @include lg-text;
    color: $black;
  }
  .green-row {
    p {
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  .step-wrapper {
    margin-bottom: 50px;
  }
  .slick-dots {
    display: none;
  }
}
.contacto {
  .slick-dots {
    display: none;
  }
  .contact-items {
    h2 {
      @include lg-text;
      font-weight: 700;
    }
    li {
      margin-bottom: 25px;
    }
  }
}
.nuestra-tierra {
  h1, h2, h3, h4, h5 {
    @include lg-text;
    font-weight: 700;
  }
  .causes {
    img {
      width: 100%;
    }
  }
  .slick-dots {
    display: none;
  }
}
// images
.img-full-width {
  width: 100%;
}
// lists
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
// wpml
.wpml-ls-statics-footer {
  border-top: 1px solid $gray;
}
.wpml-ls-statics-footer, .wpml-ls-statics-footer .wpml-ls-sub-menu, .wpml-ls-statics-footer a {
  border-bottom: 0;
  color: #fff;
  margin-bottom: 0 !important;
  background-color: $black;
}
.wpml-ls-statics-footer a:hover {
  background-color: transparent;
  color:#fff;
}